.expandable {
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
}

.is-wrap {
    flex-wrap: wrap;
    &>.field {
        margin-bottom: 0.75em;
    }
}

.field {
    .is-wrap {
        margin-bottom: 0;
    }
}

.is-horizontal {
    flex-direction: row;
}

#canvas {
    display: none;
}

.preview {
    margin: 2em auto;
    line-height: 0;
    background-color: white;
    img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

label {
    &:not(.upload) {
        align-self: center;
        padding-right: 0.75em;
    }
}

.layer-config {
    color: $color_main;
}

.row {
    @extend .layer-config;
    * {
        flex-grow: 0;
        flex-shrink: 0;
        align-self: center;
    }
    span {
        margin-right: 0.5em;
    }
    .symbol {
        border: 1px solid #363636;
    }
}

.layers {
    cursor: grab;
    width: 100%;
    .row {
        width: 100%;
        border-top-width: 0;
        border-radius: 0;
        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-top-width: 1px;
        }
        &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.color-sample {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #363633;
    margin: 0;
    display: inline-block;
    border-radius: 0.75em;
}

.upload {
    .upload-draggable {
        display: block;
    }
}

input[type=number] {
    text-align: center;
}

.color-picker {
    display: inline-block;
}

.field-sub {
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section {
    margin: 0 auto;
    max-width: 1024px;
    padding: 10vh 2vw;
}

.columns {
    display: flex;
}

.column {
    width: 50%;
    padding: 2em;
}